In [146]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
%matplotlib inline

In [147]:
#write a program to select the pair of books that maximizes the price
#subject to price<=18 and weight<=18

books=pd.DataFrame([(1,24),(5,3),(6,7),(9,8),(5,15),(3,12),(2,20),(15,12),
(4,9),(10,10),(11,8),(14,11)],columns=['price','weight'],index=np.arange(1,13))

In [148]:
books

    price  weight
1       1      24
2       5       3
3       6       7
4       9       8
5       5      15
6       3      12
7       2      20
8      15      12
9       4       9
10     10      10
11     11       8
12     14      11

In [149]:
ratio = pd.DataFrame(index = np.arange(100),columns = ['book1','book2','score','pricetot'])

In [150]:
counter=0
for i in list(books.index):
    for j in list(reversed(list(books.index))):
        if ((books.loc[i]['price'] + books.loc[j]['price'])<=18) & ((books.loc[i]['weight'] + books.loc[j]['weight'])<=18):
            ratio.loc[counter]['book1'] = i
            ratio.loc[counter]['book2'] = j
            ratio.loc[counter]['score'] = (books.loc[i]['price'] + books.loc[j]['price'])/(books.loc[i]['weight'] + books.loc[j]['weight'])
            ratio.loc[counter]['pricetot'] = (books.loc[i]['price'] + books.loc[j]['price'])
            counter = counter +1

In [151]:
ratio = ratio[ratio.book1 != ratio.book2]

In [155]:
ratio[ratio.pricetot==ratio.pricetot.max()]

   book1 book2    score pricetot
8      3    11  1.13333       17
28    11     3  1.13333       17

0.5333333333333333